# compiled output
/dist/

# misc
/.ember-cli
/.git/
/.github/
/.gitignore
/.prettierignore
/.travis.yml
/.watchmanconfig
/CONTRIBUTING.md
/ember-cli-build.js
/yarn-error.log
/yarn.lock
.gitkeep
.npmrc
